/* src/Quiz.css */

.quiz-container {
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container.light {
  background-color: #f9f9f9;
  color: #333;
}

.quiz-container.dark {
  background-color: #333;
  color: #f9f9f9;
}

.question-container {
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  transition: border 0.3s, background-color 0.3s;
}

.option-button.selected {
  background-color: #9d53c3;
}

.option-button.highlighted {
  background-color: #e0e0e0;
}

.option-button.correct {
  border: 4px solid #28a745;
}

.option-button.wrong {
  border: 4px solid #dc3545;
}

.option-button:hover {
  background-color: #9d53c3;
  border: 4px solid #9d53c3;
}

.correct-answer-text {
  margin-top: 10px;
  color: #28a745;
  font-weight: bold;
}

.error-message {
  margin-top: 10px;
  color: #9d53c3;
  font-weight: bold;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #9d53c3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.quiz-completed {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.question-number {
  margin-bottom: 10px;
  font-size: 14px;
  color: #9d53c3;
  font-weight: bold;
}

.return-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.return-button:hover {
  background-color: #9d53c3;
}
